@font-face {
  font-family: 'PilatWide';
  src: url('../fonts/PilatWide-DemiBold.woff') format('woff'),
       url('../fonts/PilatWide-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PilatWide';
  src: url('../fonts/PilatWide-Bold.woff') format('woff'),
       url('../fonts/PilatWide-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PilatWide';
  src: url('../fonts/PilatWide-Regular.woff') format('woff'),
       url('../fonts/PilatWide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PilatWideBook';
  src: url('../fonts/PilatWide-Book.woff') format('woff'),
       url('../fonts/PilatWide-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
  font-family: 'PilatWide', sans-serif;
  margin: 0;
}

body, #root {
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  font-size: 16px;
}

#canvas-container{
  position: fixed !important;
  inset: 0 !important;
  z-index: -1 !important;
  transition: all 1s ease-out;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.75rem;
  padding: 0;
  margin: 0
}

@media (min-width: 1400px) {
  body{
      font-size: calc(16px + 0.65vw);
  }
}
@media (max-width: 1023.99px) {
  body{
      font-size: 14px;
  }
}


.background--custom {
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
}
canvas#canvas {
  z-index: -1;
  position: absolute;
  width: 100dvh;
  height: 100dvh;
  transform: scale(3.5);
  --gradient-color-1: #FF3C00; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #FA5104;  
  --gradient-color-4: #38DCCB;
  --gradient-speed: 0.000006;
}
