#layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    position: fixed;
    inset: 0;
    z-index: 10;
}

@media (max-width: 767.99px) {
    #layout{
        max-width: 320px;
        margin: 0 auto;
    }
  }
